# OpenAI Configuration
OPENAI_API_KEY=input api de Open AI

# Langsmith Configuration
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

# Deepeval Configuration
DEEPEVAL_PROJECT_ID=
DEEPEVAL_API_KEY=
CONFIDENT_API_KEY=
CONFIDENT_BASE_URL=https://eu.api.confident-ai.com

# Evaluation Thresholds
THRESHOLD_REQUIREMENT_EXTRACTION=0.6
THRESHOLD_CV_FAITHFULNESS=0.7
THRESHOLD_EVALUATION_HALLUCINATION=0.9
THRESHOLD_INTERVIEW_COMPLETENESS=0.75
THRESHOLD_INTERVIEW_FAITHFULNESS=0.8
THRESHOLD_INTERVIEW_HALLUCINATION=0.9


# Model Configuration
MODEL_NAME=gpt-4o-mini
TEMPERATURE=0.25