GOOGLE_API_KEY=
OPENAI_API_KEY=
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
LANGSMITH_API_KEY=

GOOGLE_MAPS_API_KEY=https://console.cloud.google.com/apis/library/places.googleapis.com?project=INPUT_TU_PROYECTO_CREADO_EN_GOOGLE_CLOUD_CONSOLE
AI_STUDIO_API_KEY= acceder con tu cuenta y crear una API_KEY para tu nuevo proyecto (https://aistudio.google.com/api-keys), para pruebas da más flexibilidad que GCP